<div id="mySidenav" class="sidenav" [ngClass]="{'sidenavOpen': showSideNav}">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">University</a>
  <a href="#">Life</a>
  <a href="#">Sport</a>
  <a href="#">See Results</a>
</div>
<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>

<div id="main">
<h1 style="text-align: center">Ireland Poll</h1>
<div class="container" [ngClass]="{ 'containerOpen': showSideNav}">
<div *ngFor="let x of mediaItems" class="layout">
  <div class="wrapper">
    <div class="top"> <img src="assets/{{x.photo}}" width="280px" height="150px" class="photo"> </div>
    <div class="bottom"><div class="textName">{{x.name}}</div></div>
  </div>
</div>
</div>
</div>
